<br>
<div class="jumbotron">
  <h1 class="display-4">Share your thoughts</h1>
  <p class="lead">A platform to share your experience with everyone</p>
  <hr class="my-4">
  <p>everyone is welcome</p>
  <p class="lead">
  <%= link_to "View community posts", posts_path, class: "btn btn-primary btn-lg"  %>
  <%= link_to "Create new post", new_post_path, class: "btn btn-primary btn-lg" %>
  </p>
</div>
