<div class="jumbotron">
  <h1 class="display-4">Share your thoughts and experiences</h1>
  <p class="lead">A platform where you can discuss with anyone about anything</p>
  <hr class="my-4">
  <p class="lead">
  <%= link_to "View all posts", posts_path, class: "btn btn-primary btn-lg"  %>
  <%= link_to "Create new post", new_post_path, class: "btn btn-primary btn-lg" %>
  </p>
</div>
